<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/styles.css" />
    <link rel="stylesheet" href="~/normalize.css" />
    <script src="https://kit.fontawesome.com/abb25ecaa9.js"
            crossorigin="anonymous"></script>
    <title>Sistema de turnos - Pantalla de espera</title>
</head>
<body class="pedir-turnos">
    <p id="horafecha"></p>

    <img src="~/imgs/billetera.png" alt="" srcset="" />
    <h1>Bienvenido a TGIF</h1>
    <form  id="form"  >
        <input type="submit" value="Pedir turno" class="boton"/>
    </form>

    <div class="modal">
        <div class="ticket">
            
                <h1>Ticket</h1>
                <p>Folio: <p class="turnoFolio"></p></p>
                <p>Hora: <p class="turnoHora"></p></p>
                <p>Fecha: <p class="turnoFecha"></p></p>
            
            
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>
    <script>
        var primeraSolicitud = false;
        
        const connection = new signalR.HubConnectionBuilder()
            .withUrl("https://api.signalr.labsystec.net/ticketshub", {
                skipNegotiation: true,
                transport: signalR.HttpTransportType.WebSockets,
            })
            .withAutomaticReconnect()
            .build();
        connection.start()
            .then(() => console.log('Conexión iniciada.'))
            .catch(err => console.error('Error al iniciar la conexión: ', err));
            
        connection.on("NuevoTurno", (turno)=>{
            if (primeraSolicitud == false) {
                let folio = document.querySelector(".turnoFolio");
                let hora = document.querySelector(".turnoHora");
                let fecha = document.querySelector(".turnoFecha");
                let button = document.querySelector(".boton");

                folio.textContent = turno.folio;


                let fechaa = new Date(turno.fecha);
                fecha.textContent = fechaa.toLocaleDateString();

                hora.textContent = fechaa.toLocaleTimeString();

                button.value = "Ver turno";
                primeraSolicitud = true;
            }
            


        });
        document
            .getElementById("form")
            .addEventListener("submit", function (event) {
                if(primeraSolicitud == false){
                    connection.invoke("RequestTurno").then(() => {
                        console.log("RequestTurno llamado");
                    }).catch(error => console.error("Error al llamar turno", error));
                }
                

                event.preventDefault();
                var modal = document.querySelector(".modal");
                modal.style.visibility = "visible";
                setTimeout(function () {
                    modal.style.visibility = 'hidden';
                }, 5000);
            });


    </script>
    <script>
        function actualizarHoraFecha() {
            const pElement = document.getElementById("horafecha");

            const diasSemana = [
                "Domingo",
                "Lunes",
                "Martes",
                "Miércoles",
                "Jueves",
                "Viernes",
                "Sábado",
            ];
            const meses = [
                "enero",
                "febrero",
                "marzo",
                "abril",
                "mayo",
                "junio",
                "julio",
                "agosto",
                "septiembre",
                "octubre",
                "noviembre",
                "diciembre",
            ];

            const fechaActual = new Date();

            const diaSemana = diasSemana[fechaActual.getDay()];
            const dia = fechaActual.getDate();
            const mes = meses[fechaActual.getMonth()];
            const año = fechaActual.getFullYear();

            let hora = fechaActual.getHours();
            let minutos = fechaActual.getMinutes();
            const ampm = hora >= 12 ? "P.M." : "A.M.";

            hora = hora % 12;
            hora = hora ? hora : 12; // La hora '0' debe ser '12'
            minutos = minutos < 10 ? "0" + minutos : minutos;

            const horaFechaString = `${diaSemana} ${dia} de ${mes} del ${año} - ${hora}:${minutos} ${ampm}`;

            pElement.textContent = horaFechaString;
        }

        // Actualiza la fecha y hora al cargar la página
        actualizarHoraFecha();

        // Actualiza la fecha y hora cada minuto
        setInterval(actualizarHoraFecha, 60000);
    </script>
</body>
</html>
