@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/styles/normalize.css" />
    <link rel="stylesheet" href="~/styles/main.css" />
    <script src="https://kit.fontawesome.com/abb25ecaa9.js" crossorigin="anonymous"></script>
    <title>Sistema de turnos - Historial</title>
</head>
<body class="caja">
    <style>
        ::-webkit-scrollbar {
            width: 10px;
        }

        ::-webkit-scrollbar-track {
            background: #d6d6d680;
            border-radius: 10px;
        }

        ::-webkit-scrollbar-thumb {
            background: #0f0c31;
            border-radius: 20px;
        }
    </style>
    <div class="controlpanel">
        <div class="controlpanel-titulo">
            <div class="titulos">
                <h1>Sistema de turnos</h1>
                <p>Caja actual - <span class="caja-seleccionada-text">Sin definir</span></p>
            </div>
            <div class="usuario">
                <a asp-controller="home" asp-action="index">Dashboard</a>
                <img src="~/img/profilepicture.jpg" />
            </div>
        </div>

        <div class="controlpanel-atendiendo">

            <div class="turnos-siguientes">

                <h1>Historial</h1>

            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>
    <script>
        let cajaSeleccionada;

        async function GetCajasAvailed() {
            const response = await fetch("https://api.signalr.labsystec.net/api/caja", {
                method: "GET",
                headers: {
                    'Authorization': 'Bearer ' + "@Context.Session.GetString("token")"
                }
            });

            if (response.ok) {
                let data = await response.json();

                data.forEach(caja => {
                    if (caja.administrador == "@Context.Session.GetString("usuario")") {
                        document.querySelector(".caja-seleccionada-text").innerText = `Caja ${caja.numeroCaja}`;
                        cajaSeleccionada = caja.numeroCaja;
                    } else {
                    }

                    if (!caja.administrador) {
                        let option = document.createElement("option");

                        option.value = caja.id;
                        option.text = `Caja ${caja.numeroCaja}`;
                    }
                });
            }
        }
        
        async function GetHistorial() {
            const response = await fetch("https://api.signalr.labsystec.net/api/historial", {
                method: "GET"
            });

            if (response.ok) {
                let data = await response.json();

                data.forEach(turno => {
                    let turnoDiv = document.createElement("div");
                    turnoDiv.classList.add("turno-en-espera");

                    let h3 = document.createElement("h3");
                    h3.innerText = `Folio: ${turno.folio.folio}`;
                    let spanFolio = document.createElement("span");
                    spanFolio.innerText = turno.folio.folio;
                    h3.appendChild(spanFolio);

                    let fecha = new Date(turno.fechaAtencion);

                    let p1 = document.createElement("p");
                    p1.innerText = `Fecha: ${fecha.toLocaleDateString()} ${fecha.toLocaleTimeString()}`;

                    let p2 = document.createElement("p");
                    p2.innerText = `Caja: ${turno.caja.numero}`;

                    let p3 = document.createElement("p");
                    p3.innerText = `Estado: ${turno.estado}`;

                    turnoDiv.appendChild(h3);
                    turnoDiv.appendChild(p1);
                    turnoDiv.appendChild(p2);
                    turnoDiv.appendChild(p3);

                    document.querySelector(".turnos-siguientes").appendChild(turnoDiv);
                });
            }
        }

        document.addEventListener("DOMContentLoaded", function () {
            const divs = document.querySelectorAll(".turno-en-espera");
            const totalDivs = divs.length;
            const maxBlur = 7;

            function applyBlur() {
                divs.forEach((div, i) => {
                    const blurAmount = (maxBlur / totalDivs) * i;
                    div.style.filter = `blur(${blurAmount}px)`;
                });
            }

            function cycleBlur() {
                setTimeout(() => {
                    applyBlur();
                }, 100);
            }

            setInterval(cycleBlur, 1000);
            
            GetCajasAvailed();
            GetHistorial();
        });

        const connection = new signalR.HubConnectionBuilder()
            .withUrl("https://api.signalr.labsystec.net/ticketshub", {
                skipNegotiation: true,
                transport: signalR.HttpTransportType.WebSockets,
            })
            .withAutomaticReconnect()
            .build();

        connection.start()
            .then(() => console.log('Conexión iniciada.'))
            .catch(err => console.error('Error al iniciar la conexión: ', err));

        connection.on("TurnosActualizados", async (data) => {
            
            let turnosAll = document.querySelectorAll(".turno-en-espera");

            turnosAll.forEach(turno => {
                turno.remove();
            });

            await GetHistorial();
        });

    </script>
</body>
</html>
