@model project_signalr_administrador.Models.ViewModel.Home.IndexViewModel;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/styles/normalize.css" />
    <link rel="stylesheet" href="~/styles/main.css" />
    <script src="https://kit.fontawesome.com/abb25ecaa9.js" crossorigin="anonymous"></script>
    <title>Sistema de turnos - Panel de usuario</title>
</head>
<body class="caja">
    <style>
        ::-webkit-scrollbar {
            width: 10px;
        }

        ::-webkit-scrollbar-track {
            background: #d6d6d680;
            border-radius: 10px;
        }

        ::-webkit-scrollbar-thumb {
            background: #0f0c31;
            border-radius: 20px;
        }
    </style>
    <div class="controlpanel">
        <div class="controlpanel-titulo">
            <div class="titulos">
                <h1>Sistema de turnos</h1>
                <p>Caja actual - <span class="caja-seleccionada-text">Sin seleccionar</span></p>
            </div>
            <div class="usuario">
                <i class="fa-solid fa-gear"></i>
                <i class="fa-solid fa-chart-simple"></i>
                <select name="Estado" id="">
                    <option selected disabled>Estado</option>
                    <option value="">Disponible</option>
                    <option value="">Ocupado</option>
                </select>
                <img src="/imgs/profilepicture.jpg" />
            </div>
        </div>

        <div class="controlpanel-atendiendo">

            <div class="turno-actual" style="visibility: collapse">
                <div class="flex">
                    <h1>Turno actual</h1>
                    <h2>Folio: <span>A12345</span></h2>
                </div>

                <p>Fecha: <span>4 - Junio - 2024</span></p>
                <p>Hora: <span>5:12 P.M.</span></p>
            </div>
            <div class="acciones" style="visibility: collapse">
                <h1>Próximo Turno</h1>
                <form action="">
                    <input type="submit" value="Siguiente" />
                </form>
            </div>

            <div class="turnos-siguientes" style="grid-row-start: 1">
                <h1>Proximos turnos</h1>
            </div>
        </div>
    </div>

    <div class="modal" id="estadisticas">
        <div class="estadisticas">
            <h1>Estadisticas</h1>

            <div class="grupo-estadisticas">
                <div class="estadistica">
                    <h3>Gente en espera</h3>
                    <div>
                        <i class="fa-solid fa-user-clock"></i>
                        <p>4</p>
                    </div>
                </div>

                <div class="estadistica">
                    <h3>Gente en ventanilla</h3>
                    <div>
                        <i class="fa-solid fa-user-check"></i>
                        <p>2</p>
                    </div>
                </div>

                <div class="estadistica">
                    <h3>Clientes en total hoy</h3>
                    <div>
                        <i class="fa-solid fa-users"></i>
                        <p>15</p>
                    </div>
                </div>

                <div class="estadistica">
                    <h3>Caja mas frecuentada</h3>
                    <div>
                        <i class="fa-solid fa-fire"></i>
                        <p>2</p>
                    </div>
                </div>

                <div class="estadistica">
                    <h3>Caja menos frecuentada</h3>
                    <div>
                        <i class="fa-solid fa-snowflake"></i>
                        <p>5</p>
                    </div>
                </div>

                <div class="estadistica">
                    <h3>Tiempo de cliente en caja</h3>
                    <div>
                        <i class="fa-solid fa-clock"></i>
                        <p>5 minutos</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="caja">
        <div class="elegir-caja">
            <h1>Seleccione la caja en la que esta iniciando</h1>
            <div>
                <select name="caja" id="opt-caja" onchange="onSelectCaja()">
                    <option value="0" disabled selected>Seleccione una caja</option>
                </select>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const toggleEstadisticas = document.querySelector('.fa-chart-simple');
            const toggleCaja = document.querySelector('.fa-gear');

            const estadisticasDiv = document.getElementById('estadisticas');
            const cajaDiv = document.getElementById('caja');

            const estadisticadiv = document.querySelector('.estadisticas');
            const cajaElegir = document.querySelector('.elegir-caja');

            toggleEstadisticas.addEventListener('click', function (event) {
                estadisticasDiv.style.visibility = 'visible';
                event.stopPropagation(); // Para evitar que el clic en el botón cierre el div
            });

            toggleCaja.addEventListener('click', function (event) {
                cajaDiv.style.visibility = 'visible';
                event.stopPropagation(); // Para evitar que el clic en el botón cierre el div
            });

            document.addEventListener('click', function (event) {
                const target = event.target;
                if (!estadisticadiv.contains(target) && target !== toggleEstadisticas) {
                    estadisticasDiv.style.visibility = 'hidden';
                }
                if (!cajaElegir.contains(target) && target !== toggleCaja) {
                    cajaDiv.style.visibility = 'hidden';
                }
            });
        });
    </script>
    <script>
        async function GetCajasAvailed() {
            const response = await fetch("https://api.signalr.labsystec.net/api/caja", {
                method: "GET",
                headers: {
                    'Authorization': 'Bearer ' + "@Context.Session.GetString("token")"
                }
            });

            if (response.ok) {
                let data = await response.json();

                const cajaActual = document.querySelector("#opt-caja");

                data.forEach(caja => {
                    if (caja.administrador) {
                        let option = document.createElement("option");

                        option.value = caja.id;
                        option.text = `Caja ${caja.numeroCaja}`;

                        cajaActual.appendChild(option);
                    }
                });
            }
        }

        async function GetTurnosAvailed() {
            const response = await fetch("https://api.signalr.labsystec.net/api/turno", {
                method: "GET",
                headers: {
                    'Authorization': 'Bearer ' + "@Context.Session.GetString("token")"
                }
            });

            if (response.ok) {
                let data = await response.json();
                let turnosEnEspera = document.querySelector(".turnos-siguientes");

                data.forEach(turno => {
                    if (turno.estado == "Pendiente") {
                        let turnoDiv = document.createElement("div");
                        turnoDiv.classList.add("turno-en-espera");

                        turnoDiv.dataset.id = turno.id;

                        let h3 = document.createElement("h3");
                        h3.innerText = `Folio: ${turno.folio}`;

                        let fecha = new Date(turno.fecha);

                        let p1 = document.createElement("p");
                        p1.innerText = `Fecha: ${fecha.toLocaleDateString()}`;

                        let p2 = document.createElement("p");
                        p2.innerText = `Hora: ${fecha.toLocaleTimeString()}`;

                        turnoDiv.appendChild(h3);
                        turnoDiv.appendChild(p1);
                        turnoDiv.appendChild(p2);

                        turnosEnEspera.appendChild(turnoDiv);
                    }
                });
            }
        }

        async function GetCurrentTurno(id) {
            const response = await fetch(`https://api.signalr.labsystec.net/api/turno/bycaja/${id}`, {
                method: "GET",
                headers: {
                    'Authorization': 'Bearer ' + "@Context.Session.GetString("token")"
                }
            });

            if (response.ok) {
                let data = await response.json();
                let div = document.querySelector(".turno-actual");
                let siguiente = document.querySelector(".acciones");

                document.querySelector(".turnos-siguientes").style.gridRowStart = "2";

                if (div.style.visibility === "collapse") {
                    div.style.visibility = "visible";
                    div.style.gridRowStart = "1";
                    siguiente.style.visibility = "visible";
                    siguiente.style.gridRowStart = "1";

                    let h2 = div.querySelector("h2");
                    h2.innerText = `Folio: ${data.folio}`;

                    let fecha = new Date(data.fecha);

                    let p1 = div.querySelector("p:nth-child(2)");
                    p1.innerText = `Fecha: ${fecha.toLocaleDateString()}`;

                    let p2 = div.querySelector("p:nth-child(3)");
                    p2.innerText = `Hora: ${fecha.toLocaleTimeString()}`;
                }
            }
        }

        async function onSelectCaja() {
            const cajaActual = document.querySelector("#opt-caja");
            const value = cajaActual.value;

            if (value !== "0") {
                document.querySelector(".caja-seleccionada-text").innerText = `Caja ${value}`;

                await GetCurrentTurno(value);
            }
            else {
                document.querySelector(".caja-seleccionada-text").innerText = "Sin seleccionar";
            }

            const cajaDiv = document.getElementById('caja');
            cajaDiv.style.visibility = 'hidden';
        }

        document.addEventListener("DOMContentLoaded", function () {
            const divs = document.querySelectorAll(".turno-en-espera");
            const totalDivs = divs.length;
            const maxBlur = 7;

            function applyBlur() {
                divs.forEach((div, i) => {
                    const blurAmount = (maxBlur / totalDivs) * i;
                    div.style.filter = `blur(${blurAmount}px)`;
                });
            }

            function cycleBlur() {
                setTimeout(() => {
                    applyBlur();
                }, 100);
            }

            setInterval(cycleBlur, 1000);

            start();

            GetTurnosAvailed();
            GetCajasAvailed();
        });

        const connection = new signalR.HubConnectionBuilder()
            .withUrl("https://api.signalr.labsystec.net/ticketshub", {
                skipNegotiation: true,
                transport: signalR.HttpTransportType.WebSockets,
            })
            .withAutomaticReconnect()
            .build();

        async function start() {
            try {
                await connection.start();
                console.log("SignalR Connected.");
            } catch (err) {
                console.log(err);
                setTimeout(start, 5000);
            }
        };

        start();
    </script>
</body>
</html>
